.table {
  @apply w-full;
  border-collapse: separate;
  border-spacing: 0rem 1rem;

  td,
  th {
    @apply border-solid border-primary-light border-t border-b py-3 px-2 text-left capitalize;
    &:first-child {
      @apply border-l;
    }
    &:last-child {
      @apply border-r;
    }
  }
}

.avatar {
  @apply border border-solid border-primary-lighter;
  border-radius: 50%;
}

@mixin action-icon {
  @apply mx-1 cursor-pointer;
  width: 1rem;
  height: 1rem;
}

.editIcon {
  @include action-icon;
  fill: #2383c2;
}

.trashIcon {
  @include action-icon;
  fill: #b13313;
}
